.container {
  width: 400px;
  height: 450px;
  border: 2px solid red;
  align-items: center;
  margin: 50px auto;
}
.image {
  width: 400px;
  height: 260px;
  background-image: url(/12image.jpg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
