#myBox {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
